@import './config.scss';
.cart-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #ffffff;
    box-shadow: 0 0 6px grey;

    @include logo;

    .logo-name {
        gap: .0em;

        span {
            font-size: 1.1rem;
        }
    }

    .cart-input {
        border: 2px solid var(--main-color);
        border-radius: .3em;
        height: fit-content;
        width: 33%;
        padding: .3em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            height: 1.5em;
            width: 60%;
            border: none;
            outline: none;

            &::placeholder {
                color: #808080;
            }
        }

    }

    .user {
        color: var(--main-color);
        display: flex;
        align-items: center;
        gap: 0.3em;
    }

    .cart{
      display: flex;
      align-items: center;
      color:var(--main-color);
      gap: 0.2em;
      position: relative;
      cursor: pointer;

      span:last-child{
        display: flex;
        justify-content: center;
        align-items: center;    
        border: 1.5px solid #fff;
        border-radius: .5em;
        background-color: red;
        color: #fff;
        position: absolute;
        left: 6px;
        top: -12px;
        padding: .45em;
        font-size: 0.75rem;
        height: .5em;
      }
    }
}