@import './config.scss';

.cart-container {
    max-width: 100%;
    height: 100vh;

    .main-cart {
        // border: 2px solid green;
        display: flex;
        max-width: 100%;
        gap: 1em;
        padding: 1em 1em;
        background-color: #8c8c8c18;

        .cart-items-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 500px;

            .cart-items-category {
                border-radius: .3em;
                padding: 1em 0em;
                display: flex;
                justify-content: space-around;
                background: #fff;

                &>span {}
            }

            .delivery-address {
                display: flex;
                border-radius: .3em;
                justify-content: space-between;
                background: #fff;
                padding: .8em 1em;
                align-items: center;
                margin: .8em 0em;

                &>span {
                    font-size: .85rem;
                    letter-spacing: .1px;
                }

                &>span:last-child {
                    border: 1px solid #00000023;
                    border-radius: .3em;
                    font-size: 0.77rem;
                    font-weight: 600;
                    letter-spacing: .2px;
                    padding: .7em 1.5em;
                    color: var(--main-color);
                }
            }

            .cart-order-details {
                padding-bottom: 4em;

                .cart-items {
                    max-width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 1em 2em;
                    border-radius: .3em;
                    background-color: #fff;

                    img {
                        border-radius: .8em;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        &>span {
                            font-size: .95rem;
                        }

                        &>span:nth-child(2) {
                            color: #808080;
                            font-size: 0.8rem;
                            margin-top: 0.2em;
                        }

                        &>span:nth-child(3) {
                            color: #808080;
                            font-size: 0.85rem;
                            margin-top: 1em;
                            display: inline-flex;
                            align-items: center;

                            &>span:nth-child(2) {
                                display: inline-flex;
                                align-items: center;
                                margin-left: .6em;

                                @include assured;
                            }
                        }

                        &>span:nth-child(4) {
                            color: #000;
                            font-weight: 900;
                            font-size: 1rem;
                            letter-spacing: .5px;
                            margin-right: 0.3em;
                            margin-top: 1em;
                        }
                    }

                    &>span:last-child {
                        font-size: .85rem;
                    }

                }

                .cart-order {
                    display: flex;
                    align-items: center;
                    gap: 1.5em;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 0em 1.5em;
                    padding-bottom: 1em;
                    background-color: #fff;
                    margin-bottom: 1em;

                    &>span:first-child {
                        display: inline-flex;
                        gap: .4em;

                        &>span {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #00000039;
                            height: 1em;
                            width: 1em;
                            padding: .35em;
                            border-radius: 50%;
                            @include transition-ease;
                            transition-duration: .05s;

                            &:active {
                                transform: scale(1.1);
                            }
                        }

                        &>span:nth-child(2) {
                            border-radius: .2em;
                            padding: .35em .9em;

                            &:active {
                                transform: scale(1);
                            }
                        }
                    }

                    &>span:last-child {
                        @include transition-ease;
                        transition-duration: .2s;
                        &:hover {
                            margin-bottom: .1em;
                            color: #2874f0;
                        }
                    }

                    &>span:nth-last-child(2){
                        @include transition-ease;
                        transition-duration: .2s;
                        &:hover{
                            margin-bottom: .1em;
                            color: #2874f0;
                        }
                    }
                }
            }

            .place-order {
                border-radius: .4em;
                padding: 1em 0em;
                width: 68%;
                z-index: 999;
                display: flex;
                flex-direction: row-reverse;
                position: fixed;
                bottom: 0;
                margin-left: -1em;
                background-color: #fff;
                box-shadow: -2px 0px 8px rgba(128, 128, 128, 0.739);

                button {
                    border: 2px solid transparent;
                    background-color: var(--main-color);
                    color: #fff;
                    font-size: .9rem;
                    font-weight: 600;
                    letter-spacing: .4px;
                    padding: 1em 4.5em;
                    margin: 0em 1em;
                    border-radius: .3em;
                }
            }
        }

        .cart-price-details {
            max-width: 30%;
            padding: 0em 1.5em;
            border-radius: .5em;
            background-color: #fff;
            position: sticky;

            &>h2 {
                color: #808080;
                font-size: 1rem;
                font-weight: 600;
                padding: 1em 0em;
                margin: 0;
                border-bottom: 1px solid #00000018;
            }

            &>li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: .6em 0em;

                span {}
            }

            &>li:nth-child(6) {
                border-top: 1px solid #00000018;
                border-bottom: 1px solid #00000018;
                margin-top: 0.2em;
                margin-bottom: .8em;

                span {
                    padding: .5em 0em;
                    font-size: 1.05rem;
                    -webkit-text-stroke: .5px;
                }
            }

            &>span {
                color: green;
                font-size: .95rem;
                -webkit-text-stroke: .15px;
            }

            &>h3 {
                display: flex;
                align-items: center;
                gap: .7em;
                font-size: 1.1rem;
                color: #808080;
                font-weight: 600;
                letter-spacing: .3px;
                font-size: 0.8rem;
            }

        }

    }
}

//Remove item

.remove-item-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    background-color: #00000062;

    .remove-item {
        border-radius: .3em;
        position: fixed;
        inset: 0;
        margin: auto;
        width: 30%;
        height: fit-content;
        background-color: #fff;
        aspect-ratio: 2/1;
        text-align: center;
        padding: 1em;
        animation: popup .5s linear forwards;

        h3 {
            font-size: 1.1rem;
        }

        span {
            color: #808080;
            font-size: 1rem;
        }

        button {
            padding: 1em 3.5em;
            font-weight: 600;
            margin-top: 3em;
            margin-inline: auto;
        }
    }

}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5) skewY(35deg) skewX(35deg);
    }

    50% {
        opacity: .5;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}