@import './config.scss';

.banner{
    max-width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 7em;

    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
    }

    .cashback-details{
        max-width: 400px;
        position: relative;
        z-index: 2;    
        padding: 4.3em 3.3em;
        background: var(--main-color);

        h1{     
            color: #fff;
            font-size: 3.2rem;
            margin: 0;
        }
        h4{
           color: #fff; 
           letter-spacing: .3px;
           font-weight: 500;
           font-size: 1.2rem;           
           margin-top: .5em;
        }
        button{
            @include btn;
            margin: 1.2em 0em;
            margin-bottom: 0em;
            border-color: #fff;
        }
    }

}