@mixin btn{
    color: #fff;
    background-color: var(--main-color);
    border: 1.5px solid transparent;
    font-size: 1.1rem;            
    margin-top: 0.5em;
    width: fit-content;
    -webkit-text-stroke: .3px;
    letter-spacing: .3px;
    padding: .8em 2em;
    border-radius: 2em;
}

@mixin addToCartBtn{
        border: 1px solid #000;
        color: #000;
        font-size: .9rem;
        -webkit-text-stroke: .1px;
        width: fit-content;
        padding: .7em 1.5em;
        border-radius: 2em;
        letter-spacing: .3px;
        background: #fff;
        margin-top:1em;
}

@mixin transition-ease{
    transition: all .3s ease-in-out;
}