.footer-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0em 2.3em;
    margin-top: 6em;
    
    .sections{
        border-top: 1px solid #0000004d;
        display: flex;
        flex-direction: column;
        gap: .5em;
        flex: 1 1 fit-content;        
        padding-top: 3em;
        padding-bottom: 2em;

        h3{
            font-size: 1rem;
        }

        .logo-name {
            display: flex;
            align-items: center;

            h2{
                color: var(--main-color);
                font-size: 1.6rem;
                -webkit-text-stroke: 1px;
                letter-spacing: 1px;
            }
        }
        span{
            color: #5e5e5e;
            font-size: .9rem;
            font-weight: 400;
        }

        p{
            color: #5e5e5e;
            font-size: 0.9rem;
        }
        .payment-options{

            h3{
                margin: 0;
                margin-bottom: 1.5em;
            }            
            .options{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 260px;
                gap: .5em;

                img{
                    border: 1px solid #808080;
                    padding: .5em .5em;
                    border-radius: .5em;
                }
            }
            
        }
    }
    .last-footer{
        width: 100%;
        display: flex;
        border-top: solid 1px #00000059;
        justify-content: space-between;
        padding: 2.5em 0em;

        .footer-items{
            display: flex;
            align-items: center;
            gap: .5em;

            span{
                font-size: .95rem;
            }
        }
    }
}