@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Josefin+Sans&family=Kanit:wght@700&family=Mea+Culpa&family=Monomaniac+One&family=Noto+Sans&family=Pacifico&family=Philosopher&family=Poppins&family=Roboto+Slab&family=Space+Grotesk&display=swap');
body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  --main-color:#5b18ac;  
}

