.offs-container {
    max-width: 100%;
    padding: 0em 2em;

    .off-deals {
        max-width: 100%;
        display: flex;
        justify-content: space-between;

        .off-deals-cards {
            border-radius: .5em;
            width: 280px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f2e4d9;
            overflow: hidden;

            .off-content {
                padding: 2em 2em;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-size: 1.4rem;
                    margin: 0;
                }

                .off-price {

                    span {
                        -webkit-text-stroke: 2px;
                        letter-spacing: 1px;
                        color: #cb9917;
                    }

                    span:first-child {
                        font-size: 1.8rem;
                    }

                    span:last-child {
                        font-size: 3rem;
                    }
                }
                span{
                    letter-spacing: .5px;
                    line-height: 1.5em;
                    margin-top: 0.5em;
                }
            }

            img {
                width: 100%;
                height: 48%;
            }
        }
    }
}