.selling-store-container {
    max-width: 100%;

    .selling-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.4em;
        padding: 0em 2em;

        .selling-card {
            position: relative;
            flex-basis: 280px;
            flex-grow: 1;

            img:nth-child(1){
                width: 100%;
                border-radius: .7em;
            }

            img:nth-child(2){
                position: absolute;
                bottom: 5.5em;
                left: 1.2em;
            }
        }

        .selling-card-details{
            margin-top: 2.5em;
            display: flex;
            flex-direction: column;
            gap: .5em;

            span:nth-child(1){
                font-size: 1.2rem;
                letter-spacing: .5px;
                font-weight: 600;
            }

            div{
                display: flex;
                gap: .3em;

                span{
                    font-size: 0.8rem!important;
                    color: #808080;
                    font-weight: 500!important;
                    letter-spacing: .2px!important;
                }
                span:nth-child(2){
                    font-weight: 900!important;
                }
            }

            div:last-child{
                display: flex;
                align-items: center;

                img{
                    width: 17px;
                    height: 17px;
                }

                 span{
                    color: #d1008f;
                    font-size: 0.75rem!important;
                    font-weight: 400!important;
                 }
            }
        }
    }
}