.services-container{
    max-width: 100%;
    padding: 0em 2em;

    h2{
     font-size: 1.8rem;
    }

    .services{
        // border: 2px solid blue;
        display: flex;
        gap: 1em;
        padding-top: 1em;

        .services-card{
            border-radius: .5em;
            overflow: hidden;
            flex: 1 1 380px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .services-card-details{
                padding: 2em;
                height: 100%;
                background-color: #f5f6f6;

                h2{
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
            img{
             width: 100%;
            }
        }
    }
}